body {
    background-color: rgb(63, 63, 63);
    color: white;
    margin: 0;
    padding: 0;
}

.ui.container {
    margin-top: 2vh;
    height: 91vh;
    background-color: rgb(49, 49, 49);
    padding: 1.2vh;
    border-radius: 1vh;
    overflow: auto;
    
}

.ui.inverted.menu {
    margin: 0;
}

#dashboardSegments>.ui.inverted.segment {
    border: white solid 0.2vh;
}

#dashboardSegments>div>p {
    text-decoration: underline;
}

#dashboardTitleSegment {
    padding: 3vh;
}

#dashboardTitle {
    text-align: center;
    text-decoration: underline;
}

form {
    width: 40vh;
}