body {
    background-color: rgb(63, 63, 63);
    color: white;
    margin: 0;
    padding: 0;
}

.ui.container {
    margin-top: 1.2vh;
    height: 93vh;
    background-color: rgb(49, 49, 49);
    padding: 1.2vh;
    border-radius: 1vh;
    overflow: auto;
    width: 85%;
}

.ui.inverted.menu {
    margin: 0;
}

#dashboardSegments>.ui.inverted.segment {
    border: white solid 0.2vh;
}

#dashboardSegments>div>p {
    text-decoration: underline;
}

#dashboardTitleSegment {
    padding: 3vh;
}

#titleSection {
    display: flex;
    justify-content: center;
}

#titleSection>h1 {
    text-decoration: underline;
    font-size: 5vh;
    background-color: rgb(59,175,71,255);
    border-radius: 2vh;
    padding: 1vh 5vh 1vh 5vh;
    box-shadow: 8px 8px 5px 0.5px rgba(255, 255, 255, 0.13);
}

#titleDhb {
    display: flex;
    justify-content: center;
}

#titleDhb>h1 {
    text-decoration: underline;
    font-size: 5vh;
    background-color: rgb(244,22,28,255);
    border-radius: 2vh;
    padding: 1vh 5vh 1vh 5vh;
    box-shadow: 8px 8px 5px 0.5px rgba(255, 255, 255, 0.13);
}

.section {
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.04);
    margin: 3vh 1.5vh 0 1.5vh;
}

#sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2vh;
}

#sectionTitle>h1 {
    font-size: 4vh;
    margin: 0 1vh 0.8vh 0;
}

.sectionHeader {
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
}

.sectionHeader>div{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.sectionHeader>div>h1{
    padding: 0;
    margin: 0 2vh 0 0;
}

#sectionNestedRoute {
    margin: auto;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#sectionNestedRoute>div {
    width: 100%;
}

#sectionNestedRoute>button, #sectionNestedRoute>#button {
    width: 10vh;
    margin-bottom: 1vh;
}

#cards {
    margin: 0;
    padding-right: 4px;
    padding-left: 4px;
}

form {
    width: 40vh;
}

#notFound {
    font-size: 10vh;
}

#notFoundFigure {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#notFoundFigure>figcaption {
    background-color: black;
    padding: 0.5vh;
    border-radius: 0.5vh;
    font-size: 2vh;
}

#dhbWelcome {
    display: flex;
    justify-content: space-between;
}

#dhbWelcome>p {
    font-size: 1.6vh;
}

#dhbOrders>h2 {
    text-decoration: underline;
    margin-bottom: 3vh;
}

#dhbAvatar {
    width: 20vh;
    height: 20vh;
}

#dhbNestedRoute {
    background-color: rgb(0, 0, 0);
    border: solid white 1px;
}

#dhbNestedRoute>h2 {
    text-decoration: underline;
}

#dhbPrepare {
    display: flex;
    justify-content: space-around;
}

.dbdChild {
    background-color: gray;
    padding: 0.8vh;
    border-radius: 0.2vh;
}