body {
    background-color: rgb(63, 63, 63);
    color: white;
    margin: 0;
    padding: 0;
}

.ui.container {
    margin-top: 2vh;
    height: 91vh;
    background-color: rgb(49, 49, 49);
    padding: 1.2vh;
    border-radius: 1vh;
    overflow: auto;
    width: 80%;
    
}

.ui.inverted.menu {
    margin: 0;
}

#dashboardSegments>.ui.inverted.segment {
    border: white solid 0.2vh;
}

#dashboardSegments>div>p {
    text-decoration: underline;
}

#dashboardTitleSegment {
    padding: 3vh;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.section {
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.04);
    margin: 3vh 1.5vh 0 1.5vh;
}

.section>h1 {
    padding: 2vh 2vh 0 2vh;
}

.section>.sectionflexbox {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.sectionflexbox>figure:hover {
    cursor: pointer;
}

.sectionflexbox>figure>img {
    max-width: 300px;
}

form {
    width: 40vh;
}

#notFound {
    font-size: 10vh;
}

#notFoundFigure {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#notFoundFigure>figcaption {
    background-color: black;
    padding: 0.5vh;
    border-radius: 0.5vh;
    font-size: 2vh;
}