<form id="sectionNestedRoute" class="ui inverted form" {{ action "add" @model on="submit" }}>
    <div class="field">
        <h3>Add a section :</h3>
        <Input class="ui input" required="required" @value={{@model.name}} placeholder="Name of the section" />
    </div>
    <div class="field">
        <Input class="ui input" required="required" @value={{@model.description}} placeholder="Description" />
    </div>

    <button class="ui inverted green button" type="submit">Submit</button>
    <LinkTo class="ui inverted orange button" @route="store.sections" @activeClass="false" @tagName="button">Cancel</LinkTo>
</form>