<div class="ui inverted menu">
  {{#if @model.connected}}
  <LinkTo class="item" @route="index">Home</LinkTo>
  <LinkTo class="item" @route="dashboard">Dashboard</LinkTo>
  <LinkTo class="item" @route="store.sections">Store</LinkTo>

  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search"><i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item"><b>{{@model.connected.firstname}}</b></a>
    <a class="ui red item" {{action "logout" }}><i class="power off icon"></i>Logout</a>
  </div>

  {{else}}

  <a class="item" href="/">Home</a>

  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search"><i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item" href="/"><i class="user icon"></i>Login</a>
  </div>

  {{/if}}
</div>

<div class="ui inverted container">
  {{outlet}}
</div>