{{page-title "Not found"}}
<div style="margin-bottom: 8vh; text-align: center;" class="ui inverted segment">
    <p id="notFound">Error 404</p>
</div>

<figure id ="notFoundFigure">
    <img src="/img/tomster_fbi.png" alt="Tomster with sunglasses" height="510" width="383">
    <figcaption>Nothing to see here, circulate.</figcaption>
</figure>
